body{
    background-color 	: grey;
	text-align			: center;
	font-family			: Verdana, Tahoma, Helvetica;
	font-size			: 12px;
}
#layout{
    background: #fff;
    width : 980px; 
    margin : auto;
    text-align : left;
    padding : 2px;
}
#header{
    width: 100%;
    height: 130px;
    background-color :steelblue;
    position : relative;
}
.gambarheader{
    width: 980px;
    height: 165px;
}
#menu{
    width: 100%;
    height: 40px;
    background: steelblue;                   
    position: relative;
}
#menu ul {
	margin 				: 0;
	padding 			: 0;
	list-style 			: none;
}

#menu ul li {
	float 				: left;
}

#menu ul li a {
	float 				: left;
	color 				: white;
	padding 			: 12px 20px;
	text-decoration 	: none;
	background 			: steelblue;
	border-left 		: 1px solid #3C4042;
	border-right 		: 1px solid #3C4042;
	text-shadow 		: 0 -1px 1px rgba(0, 0, 0, 0.6);
}
#menu ul li a:hover {
	color 				: white;
	background 			: orange;
}
    
#runningtext{
    width : 100%;
    height : 25px;
    padding-top : 7px ;
    margin : 5px 0 5px 0;
    background-color : black;
    color : powderblue;
    position : relative;
    
}
#sidebar{
    padding: 5px;
    width: 27%;
    background-color : steelblue;
    position : relative;
    float : right;
    /*memberikan garis putus-putus*/
    border-style : dotted;
    border-width : 1px;

}
.widged{
    width : 99%;
    margin-bottom : 5px;
    background : #ffffff;
    border-top : 1px solid #DFDFDF;
    border-bottom : 1px solid #DFDFDF;
    border-right : 1px solid #DFDFDF;
    border-left : 1px solid #DFDFDF;
    font-size : 100%;
    margin : 0px 0px 5px 0px;
}
.gambariklan{
    width : 99%;
    height : 300px;
    }
.judulwidged{
    background :steelblue;
    padding : 5px 10px 5px 10px; 
    margin : 0px 0px 0px 0px;
    text-align : center;
    color : white;
    font-weight : bold;
    font-size : 15px;
    margin-bottom : 5px;
}
.widged ul{
    margin : 0px 0 0px 0px;
    padding : 0px 0px 0px 0px;
    list-style-type : none;
}
.widged li {
    padding : 0px 0px 0px 0px; /*top right 
    bottom left*/ 
    background-position : left;
    background-repeat: no-repeat;
    color : #333333;
}
.widged li a {
    color : #333333;
    border-bottom : 1px dotted #cccccc;
    text-decoration : none;
    display : block;
    margin-bottom : 5px;
     padding : 4px 5px 4px 10px;
    }
    .widged li a:hover {
    color : blue;
    }   
#isi{
    padding : 5px;
    width : 70%;
    height : auto;
    background-color : steelblue;
    position : relative;
    margin-top : 5px;
}

.isiposting{
    background-color :powderblue;
    width : 98%;
    height : 150px;
    margin-bottom : 5px;
    padding : 5px;

}
.isiposting a{
	text-decoration		: none;
}
.isiposting a:hover{
	color				:orangered;
}

.gambardepan{
    float: left;
    height: 100px;
    width: 150px;
    margin-right: 5px;
    margin-top: 3px;
    padding: 1px;
    border: 1px solid #dddddd;

}
h2{
    font-size : 20px;
    font-weight : bold;
    color : black;
    margin-top : 4px;
    margin-bottom : 3px;
    
}
a{
    color: crimson;
}
#footer{
	width 				: 100%;
	height				: 60px;
	margin-top			: 5px;
	padding-top			: 30;
	background-color	: #49494e;
	color				: white;
	font-size			: 12pt;
	text-align			: center;
	position			: relative;
	clear				: both;
}
.isipostingall {
	background-color	: powderblue;
	width				: 98%;
	height				: 1000px;
	margin-bottom		: 5px;
	padding				: 5px;
    font-size: 16px;
}
.isipostingall h2{
	text-align			: center;
	color				: black;
	font-size			: 20px;
	font-weight 		: bold;
}
.gambarposting1 {
	width				: 230px;
	height				: 1000px;
	float				: right;
	margin				: 10px 5px 5px 10px;
}


.profil {
	width				: 200px;
	height				: 200px;
	display				: block;
	float				: right;
	padding-right		: 5px;
}
.profil h2{
	text-align			: center;
	color				: black;
	font-size			: 20px;
	font-weight 		: bold;
}
